{
  "name": "<daily-snap{now/d}>",
  "schedule": "0 0 0 * * ?",
  "repository": "s3-repository",
  "config": {},
  "retention": {
    "expire_after": "15d",
    "min_count": 10,
    "max_count": 15
  }
}